// Define variables for your color scheme

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Navbar bacrkground
$b-nb: #071042;
// Nabar links on navbar on hover
$p-nb-item-h: #B34BBD;
// Nabar links on navbar on current page
$p-nb-item-s: #D183F4;
// Buttons
// for Primary Buttons - use as fill
// for Secondary Buttons - use as 1-2px solid border
$b-butt: #38AECC;
// Buttons on hover
$b-butt-h: #0E2185;
// Background color
$b-bkg: #56666B;
// Off-white stuff
$w-text: #E5E4F4;
