// Specific CSS for your home-page
body {
background-color: rgb(19, 44, 51);
margin: 0;
padding: 0;
}

#title {
font-family: Cinzel, sans-serif;
color: white;
font-size: 40px;
position: relative;
left: 15px;
}

// .container {
// background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn01.dailycaller.com%2Fwp-content%2Fuploads%2F2017%2F03%2Frsz_shutterstock_310093031-e1489424931357.jpg&f=1&nofb=1');
// height: 500px;
// width: 80%;
// margin: 400px auto;
// border: 2px solid black;
// border-radius: 3px;
// }

.home-page-container {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn01.dailycaller.com%2Fwp-content%2Fuploads%2F2017%2F03%2Frsz_shutterstock_310093031-e1489424931357.jpg&f=1&nofb=1');
  height: 500px;
  width: 100%;
  object-fit: cover;
}

#book-tour {
  position: relative;
  width: 50%;
}
