// Import page-specific CSS files here.
@import "home";
@import "../components/card";

body {
  background-color: rgb(216,227,237);
}

#index-list {
  position: relative;
  top: 150px;
}

.btn-container {
  position: relative;
  top: -920px;
  left: 30px;
  width: 200px;
  height: 40px;
}

.btn {
  position: absolute;
  width: 200px;
  height: 55px;
  background-color: rgb(40,167,69);
  font-family: Fjalla One;
  border-radius: 3px;
  padding-top: 13px;
  font-size: 20px;
}

.list-item {
  margin-top: 40px;
  z-index: 0;
}
