// Import page-specific CSS files here.
@import "home";
@import "../components/card";

body {
  background-color: rgb(216,227,237);
}

#index-list {
  position: relative;
  top: 150px;
}

.btn-container {
  position: relative;
  top: -920px;
  left: 30px;
  width: 200px;
  height: 40px;
}

.list-item {
  margin-top: 40px;
  z-index: 0;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
