body {
  background-color: rgb(240, 240, 240);
}

.tour-show-container {
  position: relative;
  top: 200px;
  width: 99%;
  height: 1000px;
  margin: 0 auto;
}

#tour-title {
  font-size: 70px;
  font-family: Fjalla One;
}

#tour-guide-name {
  font-family: Poppins;
  font-size: 50px;
}

#tour-show-image {
 width: 60%;
 border-radius: 6px;
 margin-top: 10px;
}

#tour-show-description-title {
  font-family: Poppins;
  font-size: 35px;
}

#tour-show-description {
  font-family: Poppins;
  font-size: 25px;
}


#tour-show-price {
  font-family: Shippori Antique;
  font-size: 32px;
}

.btn-booking {
  position: absolute;
  width: 170px;
  height: 65px;
  background-color: rgb(255,192,7);
  text-align: center;
  margin-left: 2px;
  padding-top: 18px;
  border-radius: 3px;
  font-size: 20px;
  color: black;
  font-weight: 600;
  font-family: Fjalla One;
  bottom: 170px;
}

.btn-return {
  background-color: rgb(1,123,254);
  position: absolute;
  width: 170px;
  height: 65px;
  text-align: center;
  margin-left: 2px;
  padding-top: 18px;
  border-radius: 3px;
  font-size: 20px;
  color: black;
  font-weight: 600;
  font-family: Fjalla One;
  bottom: 60px;
}
