body {
  background-color: rgb(240, 240, 240);
}

.show-container {
  margin-left: 10%;
  width: 80%;
  height: auto;
  color: #222222;
}

#tour-title {
  font-size: 50px;
  font-family: Fjalla One;
  margin-top: 30px;
}

.tour-rating {
  margin-top: -14px;
  font-size: 16px;
}

#tour-show-image {
 width: 100%;
 height: 400px;
 object-fit: cover;
 border-radius: 10px;
 margin-top: 10px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-container {
  width: 70%;
  margin-top: 37px;
}

#description-title, #tour-guide-name {
  font-size: 25px;
  font-weight: bolder;
}

#tour-description {
  font-size: 19px;
  text-align: justify;
}

.solid-line {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(201, 196, 196);
}

.users-reviews {
  font-size: 19px;
}

.review-card-rating {
  font-size: 25px;
  margin-bottom: 1rem ;
  font-weight: bolder;
}

.review-card-review-number {
  color: #222222;
}

.review-content {
  margin-top: -10px;
  margin-bottom: 17px;
  text-align: justify;
}

.booking-container {
  background: white;
  box-shadow: 0 6px 16px rgba(97, 54, 54, 0.12);
  border: 1px solid rgb(221, 221, 221);
  width: 350px;
  height:fit-content;
  border-radius: 10px;
  padding: 24px;
  margin-top: 37px;
}

.btn-booking {
  width: 100%;
  align-self: center;
  border-radius: 9px;
  color: white;
}

.btn-booking:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px !important;
  transition: opacity 1.25s ease 0s !important;
}

#booking_dates_1i, #booking_dates_3i {
  width: 19%;
  border-radius: 3px;
}

#booking_dates_2i {
  width: 59%;
  border-radius: 3px;
}

#tour-price {
  font-size: 25px;
  margin-top: -8px;
}

.booking-card-details, .booking-fee-container, .booking-total-container, .booking-price-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.booking-solid-line {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(201, 196, 196);
}

.booking-total-container {
  font-weight: bolder;
}

.review-number {
  color: #5f5c5c;
}

.fa-star {
  color: #4494a9;
  margin-bottom: 10px;
}
