body {
  background-color: rgb(240, 240, 240);
}

.tour-show-container, .review-container {
  margin-left: 10% !important;
  font-family: Poppins !important;
}

.tour-show-container {
  width: 90%;
  height: auto;
  color: #222222;
}

#tour-title {
  font-size: 40px;
  font-family: Fjalla One;
  margin-top: 30px;
}

#tour-show-image {
 width: 90%;
 height: 400px;
 object-fit: cover;
 border-radius: 10px;
 margin-top: 10px;
 display: block;
}

#tour-show-description-title, #tour-guide-name {
  font-size: 25px;
  margin-top: 12px;
  font-weight: bolder;
}

#tour-show-description {
  font-size: 19px;
  width: 90%;
  text-align: justify;
}

.container-2 .solid-line {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(201, 196, 196);
}
.btn-booking, .booking-select {
  width: 100%;
  align-self: center;
}

#booking_dates_1i, #booking_dates_3i {
  width: 18%;
}

#booking_dates_2i {
   width: 60%;
}

.container-2 {
  display: flex !important;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.item-container-2 {
  display: inline-block;
  vertical-align: middle
}

.booking-container {
  background: white;
  box-shadow: 0 6px 16px rgba(0,0,0, 0.12);
  border: 1px solid rgb(221, 221, 221);
  width: 350px;
  height: 400px;
  border-radius: 10px;
  padding: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

.booking-card .item-container-2 {
  padding: 16px;
  align-items: center;
}

#tour-price {
  font-size: 25px;
  margin-top: -8px;
}

.booking-card-details, .booking-fee-container, .booking-total-container, .booking-price-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.booking-solid-line {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(201, 196, 196);
}

.booking-total-container {
  font-weight: bolder;
}

.review-number {
  color: #5f5c5c;
}

.fa-star {
  color: #4494a9;
  margin-bottom: 10px;
}

.review-container {
  width: 90%;
}

.review-title {
  font-size: 25px;
}

.review-container-item {
  font-size: 19px;
}

.review-card-rating {
  font-size: 25px;
  margin: 0 auto;
  font-weight: bolder;
}

.review-card-review-number {
  color: #222222;
}

.review-content {
  margin-top: -10px;
  margin-bottom: 30px;
  text-align: justify;
}
