body {
  background-color: rgb(240, 240, 240);
}

.tour-show-container, .review-container {
  margin-left: 10% !important;
  font-family: Poppins !important;
}

.tour-show-container {
  position: relative;
  width: 90%;
  height: 1000px;
  color: #222222;
}

#tour-title {
  font-size: 37px;
  font-family: Fjalla One;
  margin-top: 30px;
}

#tour-guide-name {
  font-size: 50px;
}

#tour-show-image {
 width: 90%;
 height: 400px;
 object-fit: cover;
 border-radius: 10px;
 margin-top: 10px;
 display: block;
}

#tour-show-description-title {
  font-size: 25px;
}

#tour-show-description {
  font-size: 19px;
  width: 75%;
  text-align: justify;
}


#tour-show-price {
  font-family: Shippori Antique;
  font-size: 25px;
}

// .btn-booking {
//   position: absolute;
//   width: 170px;
//   height: 65px;
//   background-color: rgb(255,192,7);
//   text-align: center;
//   margin-left: 2px;
//   padding-top: 18px;
//   border-radius: 3px;
//   font-size: 20px;
//   color: black;
//   font-weight: 600;
//   font-family: Fjalla One;
//   bottom: 170px;
// }

// .btn-return {
//   background-color: rgb(1,123,254);
//   position: absolute;
//   width: 170px;
//   height: 65px;
//   text-align: center;
//   margin-left: 2px;
//   padding-top: 18px;
//   border-radius: 3px;
//   font-size: 20px;
//   color: black;
//   font-weight: 600;
//   font-family: Fjalla One;
//   bottom: 60px;
// }

.container-2 {
  display: flex !important;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.item-container-2 {
  display: inline-block;
  vertical-align: middle
}


.booking-container {
  background: white;
  box-shadow: 0 6px 16px rgba(0,0,0, 0.12);
  border: 1px solid rgb(221, 221, 221);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 24px;
  margin-top: 90px;
}

h3.booking-card-title {
  font-family: Poppins !important;
  font-size: 25px;
}

.booking-card .item-container-2 {
  padding: 16px;
  align-items: center;
}
