
<div class="container">
  <ul id="booking-list">
    <% @bookings.each do |b| %>
      <li class="booking-entry"><%= link_to "#{b.tour.name}", tour_path(b.tour)%>
      on: <%= b.dates %> <br> Hosted by: <%= b.tour.user.name %>
      <%= link_to 'Add a review', new_booking_review_path(b), class: 'btn btn-primary' if b.reviews.count == 0 %>
      </li>
    <% end %>
  </ul>
</div>
