<div class="home-page-container">
<h2 style="color: white">Welcome to NavWorlds - Where other worlds are just a click away!</h2>
  <div class="container" id="book-tour">
  <%= link_to "Book A Tour!", tours_path, class: "btn btn-primary" %>
  </div>
</div>
