<%# Banner image %>
<div class="home-banner w-100 vh-100 d-flex justify-content-center
      align-items-center">
  <div class="content text-center">
    <h2 class="text-white">Welcome to NavWorlds</h2>
    <h3 class="text-white">Where other worlds are just a click away!</h3>
    <%= link_to "Book A Tour!", tours_path, class: "btn-hamepage" %>
  </div>
</div>
