<%# <div class="home-page-container">
  <input type="text" placeholder="Start Your Search" id="search-bar"> <input type="submit" value="Search icon" id="search-button">
</div> %>

<div class="home-page-container">
  <%= link_to, "Book A Tour!", tours_path, class: "btn btn-primary" %>
</div>
