.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 40%;
  border-radius: 3px;
  border: 2px solid black;
  background-color: rgb(186, 197, 207);
  margin-left: 30px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
}

.card-product p {
  font-size: 22px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
