.navbar-lewagon {
  justify-content: space-between;
  background: rgb(19, 44, 51);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
}

#title {
font-family: $logo-font;
color: white;
font-size: 40px;
position: relative;
left: 15px;
}

.navbar {
  border-bottom: 2px solid black;
  // margin-top: 0px;
  // position: fixed;
  // top: 0;
  // width: 100%;
  // margin: 0;
  // z-index: 1;
}

.nav-link {
  color: white !important;
  font-size: 24px;
  position: relative;
  left: -30px;
}

.nav-link:hover {
  color: #F58F29 !important;
}


.nav-bar-home {
  background: transparent;
  position: absolute;
  width: 100%;
  border-bottom: 0px;
}

.sign-in-nav-dropdown {
  color:rgb(19, 44, 51) !important;
  font-weight: 700;
}
