<div class="col-4">
  <h1>Add a review</h1>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.input :rating, collection: 0..5, as: :select %>
    <%= f.submit %>
  <% end %>
</div>
